<a href="https://colab.research.google.com/github/VoorugondaAnushka/2303A51176_B29_PDS/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np

monthly_temperatures = np.array([22.5, 24.0, 28.3, 32.1, 35.0, 33.8, 31.2, 30.0, 29.5, 27.0, 24.5, 23.0])

avg_temp = np.mean(monthly_temperatures)
print("Average Temperature:", avg_temp)

hottest_month = np.argmax(monthly_temperatures) + 1
coldest_month = np.argmin(monthly_temperatures) + 1
print("Hottest Month:", hottest_month)
print("Coldest Month:", coldest_month)

normalized_temps = (monthly_temperatures - np.min(monthly_temperatures)) / (np.max(monthly_temperatures) - np.min(monthly_temperatures))
print("Normalised temp:",normalized_temps)

above_avg_months = np.where(monthly_temperatures > avg_temp)[0] + 1
print(above_avg_months)

temps_fahrenheit = (monthly_temperatures * 9/5) + 32
print(temps_fahrenheit)

Average Temperature: 28.40833333333333
Hottest Month: 5
Coldest Month: 1
Normalised temp: [0.    0.12  0.464 0.768 1.    0.904 0.696 0.6   0.56  0.36  0.16  0.04 ]
[4 5 6 7 8 9]
[72.5  75.2  82.94 89.78 95.   92.84 88.16 86.   85.1  80.6  76.1  73.4 ]

In [42]:
import pandas as pd

data = {
    'OrderID': [123, 456, 789],
    'Product': ['Refrigirator','Television','Washing Machine'],
    'Quantity': [5,2,4],
    'Price': [200000,90000,100000]
}

df = pd.DataFrame(data)
df['Total_sales'] = df['Quantity'] * df['Price']
print("Total_Sales:\n", df['Total_sales'])

filtered_orders = df[df['Total_sales'] > 1000]
print(filtered_orders)

groupby_product = df.groupby('Product')['Quantity'].sum()
print("\nGrouped by Quantity:\n", groupby_product)

df['Discount'] = df['Total_sales'] * 0.5
print("\nDataFrame with Discount:\n", df)

Total_Sales:
 0    1000000
1     180000
2     400000
Name: Total_sales, dtype: int64
   OrderID          Product  Quantity   Price  Total_sales
0      123     Refrigirator         5  200000      1000000
1      456       Television         2   90000       180000
2      789  Washing Machine         4  100000       400000

Grouped by Quantity:
 Product
Refrigirator       5
Television         2
Washing Machine    4
Name: Quantity, dtype: int64

DataFrame with Discount:
    OrderID          Product  Quantity   Price  Total_sales  Discount
0      123     Refrigirator         5  200000      1000000  500000.0
1      456       Television         2   90000       180000   90000.0
2      789  Washing Machine         4  100000       400000  200000.0