<a href="https://colab.research.google.com/github/VoorugondaAnushka/2303A51176_B29_PDS/blob/main/Assignment-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "city": ["Hyderabad", "Bangalore", "Hyderabad", "Chennai", "Bangalore"]
})

transactions = pd.DataFrame({
    "transaction_id": [101, 102, 103, 104, 105, 106, 107],
    "customer_id": [1, 2, 1, 3, 4, 5, 2],
    "amount": [250, 400, 150, 300, 500, 200, 350]
})

In [8]:
merged = pd.merge(transactions, customers, on="customer_id")
print("Merged Dataset:\n", merged)

customer_spend = merged.groupby(["customer_id", "name"])["amount"].sum().reset_index()
customer_spend.rename(columns={"amount": "total_spend"}, inplace=True)
print("\nCustomer Spend:\n", customer_spend)

Merged Dataset:
    transaction_id  customer_id  amount     name       city
0             101            1     250    Alice  Hyderabad
1             102            2     400      Bob  Bangalore
2             103            1     150    Alice  Hyderabad
3             104            3     300  Charlie  Hyderabad
4             105            4     500    David    Chennai
5             106            5     200      Eva  Bangalore
6             107            2     350      Bob  Bangalore

Customer Spend:
    customer_id     name  total_spend
0            1    Alice          400
1            2      Bob          750
2            3  Charlie          300
3            4    David          500
4            5      Eva          200

In [9]:
city_spend = merged.groupby("city")["amount"].sum().reset_index()
city_spend.rename(columns={"amount": "city_total_spend"}, inplace=True)
print("\nCity-wise Spend:\n", city_spend)

top_spender = customer_spend.loc[customer_spend["total_spend"].idxmax()]
print("\nTop Spender:\n", top_spender)

City-wise Spend:
         city  city_total_spend
0  Bangalore               950
1    Chennai               500
2  Hyderabad               700

Top Spender:
 customer_id      2
name           Bob
total_spend    750
Name: 1, dtype: object

In [10]:
import pandas as pd

patients = pd.DataFrame({
    "patient_id": [101, 102, 103, 104, 105],
    "name": ["Raj", "Priya", "Kiran", "Meena", "Arjun"],
    "age": [34, 29, 45, 50, 38]
})

appointments = pd.DataFrame({
    "appointment_id": [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    "patient_id": [101, 102, 103, 101, 104, 105, 102],
    "doctor": ["Dr. Rao", "Dr. Mehta", "Dr. Rao", "Dr. Kumar", "Dr. Mehta", "Dr. Rao", "Dr. Kumar"]
})

In [11]:
merged_health = pd.merge(appointments, patients, on="patient_id")
print("Merged Dataset:\n", merged_health)

patient_visits = merged_health.groupby(["patient_id", "name"])["appointment_id"].count().reset_index()
patient_visits.rename(columns={"appointment_id": "total_visits"}, inplace=True)
print("\nPatient Visits:\n", patient_visits)

Merged Dataset:
    appointment_id  patient_id     doctor   name  age
0            1001         101    Dr. Rao    Raj   34
1            1002         102  Dr. Mehta  Priya   29
2            1003         103    Dr. Rao  Kiran   45
3            1004         101  Dr. Kumar    Raj   34
4            1005         104  Dr. Mehta  Meena   50
5            1006         105    Dr. Rao  Arjun   38
6            1007         102  Dr. Kumar  Priya   29

Patient Visits:
    patient_id   name  total_visits
0         101    Raj             2
1         102  Priya             2
2         103  Kiran             1
3         104  Meena             1
4         105  Arjun             1

In [12]:
doctor_workload = merged_health.groupby("doctor")["appointment_id"].count().reset_index()
doctor_workload.rename(columns={"appointment_id": "total_appointments"}, inplace=True)
print("\nDoctor Workload:\n", doctor_workload)

top_patient = patient_visits.loc[patient_visits["total_visits"].idxmax()]
print("\nPatient with Maximum Visits:\n", top_patient)

Doctor Workload:
       doctor  total_appointments
0  Dr. Kumar                   2
1  Dr. Mehta                   2
2    Dr. Rao                   3

Patient with Maximum Visits:
 patient_id      101
name            Raj
total_visits      2
Name: 0, dtype: object